a{text-decoration:none;}

.web{ width: 1000px;
margin:0 auto; }
.lan{ width: 1000px;
margin:0 auto; }

nav{ background-color:#9A00FF;
text-aling:center;
margin-top:10px;margin-left:10px;margin-right:10px;
border-radius:5px
}

nav ul { list-style: none; }
nav ul li{ display: initial; }

nav ul li a{ color: #FFFFFF;
padding:5px 50px 5px 50px;
display: inline-block;
font-size: 25px;}

nav ul li a:hover{clor:red;}

